<!doctype html>
<html>
  <head>
    <title>Add post in this Forum</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Add post</h1>
    <form method="POST" action="/postadded">
        <p>Topic: <input id="topic" type="text" name="topic" value="topic name"/></p>
        <p>Text: <input id="info" type="text" name="info" value="text" /></p>
        <input type="submit" value="postadded" />
      </form>
  </body>
</html>