<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to My Forum</h1>
    <p><a href="about">About My Forum</a></p>
    <p><a href="search">Search for posts</a></p>
    <p><a href="listposts">List posts</a></p>
    <p><a href="listusers">List users</a></p>
    <p><a href="listtopics">List topics</a></p>
    <p><a href="addpost">Add a new post</a></p>
  </body>
</html>
