<!doctype html>
<html>
  <head>
    <title>Welcome to My Forum></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <% posts.forEach(function(post) { %>
        <%= post.user %> <%= post.username %> 
        <br>
    <% }) %>
 
  </body>
</html>
