<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Search posts</h1>
    <form action="/search-result" method="GET">
        <p>What post do you want?</p>
        <input id="search-box" type="text" name="keyword" placeholder="Enter your search keyword">
        <input type="submit" value="Search">
    </form>
</body>
</html>